<!DOCTYPE HTML>
<html>
    <head>
        <title>About Me Page</title>
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>
        <div id="wrapper">
            <h1 class="center">About Me</h1>
            <p>I am a Python web developer and I love learning and making new things, blah blah blah, blah blah blah, blah blah blah blah blah blah. Blah blah, blah blah blah blah blah blah blah blab blah blah, blah. Blah blab blah. Blah.</p>
        </div>
    </body>
</html>